/*header*/
#header{
	background: rgba(0,0,0,.5);
}
/*banner*/
.banner{
	padding-top: 90px;
	width: 100%; 
	height:240px;
	background: url(../images/index/banner.jpg) no-repeat center center;
}
.banner-title{
	display: block;
	/*margin-top:70px;
	margin-bottom: 150px;*/
	font-family: arial; 
	font-size: 60px; 
	color: #ffffff; 
	text-align: center;
}
.banner-introduce{
	display: block;
	margin:0 auto;
	width:880px; 
	font-size: 16px; 
	color: #ffffff; 
}
.banner-sign{
	display: block;
	margin-top: 30px;
	width: 1200px;
	font-size: 24px; 
	color: #ffffff;
	text-align: right;
}
/*content*/
.cont-info{
	position: relative;
	padding-top: 25px;
	width: 1200px;
	height: 340px;	
	color: #323232;
}
.cont-info-boy,.cont-info-girl{
	width: 50%;
}
.cont-info-boy img,.cont-info-girl img{
	display: block;
	width: 180px;
	height: 180px;
	text-align: center;
	border-radius: 100%;
}
.cont-info h5{
	margin-bottom: 7px;
	padding-bottom: 7px;
	border-bottom:3px solid #000000;
	font-size: 24px;
	text-align: center;
}
.cont-info-heart{
	display: block;
	position: absolute;
	top: 170px;
	left: 50%;
	margin-left: -79px;
	width: 160px;
	height: 140px;
	z-index: 3;
}
.cont-info h5::before{
	content: "";
	position: absolute;
	bottom:-5px;
	left: 50%;
    margin-left: -2px;
	width: 4px;
	height: 80px;
	background: #d7e4ed;
}
.cont-info p{
	width: 515px;
	font-size: 16px;
	line-height: 30px;
	text-indent: 2em;
}
.cont-info-boy p{
	margin-left: 15px;
}
.cont-info-girl p{
	margin-right: 15px;
}
/*index-article*/
.cont-article{
	position: relative;
	padding-bottom: 50px;
	overflow: hidden;
}
.cont-article-line{
	position: absolute;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 100%;
    background: #d7e4ed;
}
.cont-article-boy,.cont-article-girl{	
	width: 532px;
}
.cont-article-list{
	margin: 0;
	width: 100%;
}
.cont-article-list li{
	position: relative;
	padding: 10px 15px;
	margin-bottom: 10px;
	background: #ffffff;
	border-radius: 5px;
}
.cont-article-list li>a{
	display: block;
}
.cont-article-boy .cont-timeline-img,.cont-article-girl .cont-timeline-img{  
    position: absolute;
    top: 7px;
    right: 0;
    margin-right: -95.5px;
    background: #75ce66;
    width: 55px;
    height: 55px;
    line-height: 61px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white;
    color: #ffffff;
    text-align: center;
}
.cont-article-girl .cont-timeline-img{  
    left: 0;
    margin-left: -95.5px;
}
.cont-article-list .icon-img-icon{
	font-size: 25px;
}
.cont-article-boy li::before,.cont-article-girl li::before{
    content: '';
    position: absolute;
    top: 25px;
    right: -20px;
    width:0; 
    height:0; 
    border-top:10px solid transparent;
    border-left: 20px solid #ffffff;
    border-bottom: 10px solid transparent;   
}
.cont-article-girl li::before {
    left: -20px;
    border-left:0; 
    border-right: 20px solid #ffffff;   
}
.cont-article-list h2{
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	color: #000000;
}
.cont-article-list img{
	display: block;
	width: 502px;
	height: 250px;
}
.cont-article-list p{
	margin:10px 0;
	font-size: 14px;
	line-height: 1.7;
	color: #303e49;
	text-indent: 2em;
}
.cont-article-info {
	overflow: hidden;
}
.cont-article-info span{
	float: left;
	line-height: 22px;
	font-size: 12px;
	color: #7f8c97;
	text-align: right;
}
.cont-article-info span a{
    line-height: 22px;
    font-size: 12px;
    color: #7f8c97;
}
.cont-article-info span{
	margin: 0 20px 0 0;
}
.info-icon{
	float: left;
	margin-right: 8px;
}
