.wraper{
	margin-top: 90px;
}
.wraper .wrap{
	margin-top: 20px;
	overflow: hidden;
}
/*左侧栏*/
.content-left{	
    background: #ffffff;
    width: 880px;
}
.breadcrumb{
	padding-left: 25px;
	height: 45px;
	line-height: 45px;
	background: #fefefe;
	border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #5a5a5a;
    overflow: hidden;
}
.breadcrumb a{
	display: inline-block;
	margin-right: 10px;
	float: left;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #5a5a5a;
    overflow: hidden;
}
.breadcrumb i{
    float: left;
    margin: 0 7px;
    line-height: 45px;
    font-style: normal;
}
.breadcrumb span.current{
    display: inline-block;
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
}
.breadcrumb span.current,.tab-nav span.current:hover{
    background: #7fbc23;
    color: #ffffff;
}
.article-cont{
	padding:10px;
}
.article-box{
	overflow: hidden;
}
.article-box li{
	float: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-bottom: 1px dashed #7f8c97;
}
.article-box img{
	margin-right: 10px;
	width: 400px;
	height: 197px;
}
.article-box h3{
	font-size: 18px;
	color: #323232;
	font-weight: bold;
	text-align: left;
}
.article-box h3 a{
	font-size: 18px;
	color: #323232;
}
.article-box .cont-article-info{
	margin:10px 0;
	font-size: 12px;
    color: #7f8c97;
}
.article-box .cont-article-info span{
	margin-right: 3px;
	font-size: 12px;
}
.article-box p{
	line-height: 22px;
	font-size: 12px;
	color: #7f8c97;
}
.article-box a.read-more{
	display: block;
	margin-top: 20px;
	width: 118px;
	height: 36px;
	line-height: 36px;
	background: #fc6e51;
	border-radius: 3px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}
/*page*/
.page{
    margin: 20px 0 10px 0;
    text-align: center;
    width: 100%;
    height: 32px;
    overflow: hidden;
}
.page a,.page span{
	display: inline-block;
	padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    color: #9f9f9f;
}
.page a.cur{
    font-weight: bold;
}
.page a:hover,.page span:hover,.page a.cur{
	background: #7fbc23;
    color: #FFF;
}
/*右侧栏*/
.content-right{
    width: 300px;
}
.personal-info{
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background: #fff url(../images/article/personal_bg.jpg) no-repeat center top;
	width: 300px;
	text-align: center;
}
.personal-info:before{
	content: "";
	background: url(../images/article/personal_author.png) no-repeat;
	width: 55px;
	height: 70px;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 30px;
}
.personal-img{
	margin-top: 35px;
	width: 128px;
	height: 128px;
	border: 2px solid #ffffff;
	border-radius: 50%;
}
.personal-info h4{
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}
.personal-info h4 a{
	display: inline-block;
	margin:0 2px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
.personal-info .personal-signed{
	margin: 10px 0 20px;
	padding: 5px 10px;
	background: #dfdbdb;
	line-height: 24px;
	font-size: 12px;
	color: #888888;
	text-align: left;
}
.personal-box a{
	display: inline-block;
	margin: 0 7px;
	font-size: 12px;
	color: #747f8c;
}
.personal-box a img{
	
}
.pers-icon{
	margin: 0 5px;
	font-size: 14px;
	color: #888888;
}


.side-column{
	background: #ffffff;
	padding: 20px 10px;
	margin-bottom: 20px;
}
.side-column h4{
	margin-bottom: 10px;
	padding-left: 15px;
	border-left: 5px solid #ff5151;
	font-size: 18px;
	line-height: 1.5;
	color: #333333;
}
.side-column ul{
	padding-top: 10px;
	border-top: 3px solid #39c0ff;
	overflow: hidden;
}
.side-column .article-list li{
	float: left;
	width: 100%;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px dotted #ccc;
	font-size: 14px;
	color: #333333;
}
.side-column ul li i{
	display: inline-block;
	margin: 0 10px 0 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: #515151;
	border-radius: 3px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}
.side-column ul li:first-child i{
	background: #37ced7;
}
.side-column .article-list li a{
	color: #333333;
}
.pic-box{
	margin-bottom: 20px;
    width: 300px;
}
.pic-box img{
    width: 100%;
}
.tag-cloud a{
	display: block;
	float: left;
	padding:0 7px;
	margin: 0 10px 10px 0;
	height: 30px;
	line-height: 30px;
	background: #3fb8af;
	border-radius: 5px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}
